language: node_js
sudo: false
node_js:
  - "10"
  - "9"
  - "8"
  - "7"
  - "6"
cache:
  directories:
    - eslint-config-feedzai/node_modules
    - eslint-config-feedzai-react/node_modules
script: npm run lint
